.context {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 49px);
    align-items: center;
    margin: auto;
    background-color: #fdfeff;
}

.context .col {
    padding: 0 30px;
}

.context .col .content {
    margin: auto;
}

.btn.btn-submit:hover {
    background-color: #333;
    color: aliceblue;
}

@media (max-width: 530px) {
    .context {
        grid-template-columns: repeat(1, 1fr);
    }
}