{% extends 'index.html' %}

{% block content %}
<div class="w-700">
    <div class="publicacion">
        <div class="headerP">
            <div class="imgRedonda">
                <img src="{% static 'img/user.jpg' %}" alt="">
            </div>
            <div class="felx-row">
                <div class="nombreUsuario">darlingBV05</div>
                <div class="ciudad">Mocache, Ecuador</div>
            </div>
        </div>
        <div class="bodyP">
            <img src="{% static 'img/pexel.jpg' %}" alt="">
        </div>
        <div class="footerP">
            <div class="descripcion">Foto de mi viaje a Rusia</div>
            <li class="fechaPublicacion">Jueves, 19 de agosto 2021</li>
        </div>
    </div>

    <div class="publicacion">
        <div class="headerP">
            <div class="imgRedonda">
                <img src="{% static 'img/user.jpg' %}" alt="">
            </div>
            <div class="felx-row">
                <div class="nombreUsuario">darlingBV05</div>
                <div class="ciudad">Mocache, Ecuador</div>
            </div>
        </div>
        <div class="bodyP">
            <img src="{% static 'img/pexel.jpg' %}" alt="">
        </div>
        <div class="footerP">
            <div class="descripcion">Foto de mi viaje a Rusia</div>
            <li class="fechaPublicacion">Jueves, 19 de agosto 2021</li>
        </div>
    </div>
</div>
{% endblock content %}