{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_agg.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    {% block css %} {% endblock css %}
    <title>Galería</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <div>
                    <img id="imgLogo" src="{% static 'svg/camera.svg' %}" alt="logo" srcset="">
                    <span id="txtLogo">PhotoSoft</span>
                </div>
            </div>
            <nav class="nav">
                <div class="options">
                    <div class="select"><a href="/">Inicio</a></div>
                    {% if not request.session.usuario %}
                    <div class="select"><a href="{% url 'login' %}">Iniciar sesión</a></div>
                    {% endif %}
                    {% if request.session.usuario.autorizado %}
                    <div class="select">
                        <div class="content-profile">
                            <a href="{% url 'logout' %}">{{ request.session.usuario.nombre }}</a>
                            <img src="{% static 'svg/hacker.svg' %}" id="profile">
                        </div>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>
    <main>
        {% block content %} {% endblock content %}
    </main>
    <footer>
        <div class="w-700"></div>
    </footer>

    {% if request.session.usuario.autorizado %}
    <script src="{% static 'js/modal.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/code.js' %}"></script>

    {% for message in messages %}
    {% if message.tags == "success" %}
    <script>
        Swal.fire({
            "text": "{{ message }}",
            "icon": "{{ message.tags }}"
        })
    </script>
    {% elif message.tags == "error" %}
    <script>
        Swal.error({
            "text": "{{ message }}",
            "icon": "{{ message.tags }}"
        })
    </script>
    {% endif %}
    {% endfor %}


    {% block js %} {% endblock js %}
</body>

</html>