{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %} {% endblock css %}
    <title>Galería</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <div>
                    <img id="imgLogo" src="{% static 'svg/camera.svg' %}" alt="logo" srcset="">
                    <span id="txtLogo">PhotoSoft</span>
                </div>
            </div>
            <nav class="nav">
                <ul class="options">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %} {% endblock content %}
    </main>
    <footer>
        <div class="w-700"></div>
    </footer>
    {% block js %} {% endblock js %}
</body>

</html>