{% load static %}
<div id="MyModalEdit" class="modal">
    <div class="flex" id="flexEdit">
        <div class="contenido-modal">
            <div class="modal-header flex">
                <h2>Subir imagen</h2>
                <span class="close" id="closeEdit">&times;</span>
            </div>
            <div class="modal-body">
                <div class="content-modal">
                    <img id="photoEdit" name="photo">
                    <form action="/create-publicacion/" method="POST" id="formPublicacion"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" id="idEdit" disabled hidden>
                        <div class="form-content">
                            <label for="direccionEdit">Dirección</label>
                            <input type="text" class="write" id="direccionEdit" name="direccionEdit" required>
                        </div>
                        <div class="form-content">
                            <label for="descripcionEdit">Descripción</label>
                            <input type="text" class="write" id="descripcionEdit" name="descripcionEdit" required>
                        </div>
                        <button class="btn btn-upload" type="submit">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>